/* <1121 */
@media only screen and (max-width: 1120px) {
  .wrapper {
    width: 960px;
    padding-left: 15px;
    padding-right: 15px; }
  .ht-right .tel a {
    background-position: left center;
    padding-right: 0;
    padding-left: 45px; }
  .ht-right .metro {
    display: none; }
  .search-menu {
    width: 470px;
    padding-top: 20px; }
    .search-menu .form input[type=search],
    .search-menu .form input[type=text] {
      width: 80%; }
  main {
    width: 620px; }
  .footer-cols .column.col-1 {
    width: 220px;
    padding-right: 40px; }
  .footer-cols .column.col-3 {
    width: 220px; }
  .footer-cols .column.col-2 {
    width: 266px; }
  .footer-cols .column.col-4 {
    width: 252px; }
  .drop-search {
    left: -207px; }
    .drop-search .drop-search-top {
      background: url(../images/drop-search-top-2.png) no-repeat; } }

/* <1121 finish*/
/* <1121 and > 991 start */
@media only screen and (max-width: 1120px) and (min-width: 992px) {
  .main-slider .slick-arrow.slick-prev {
    left: 111px; }
  .main-slider .slick-arrow.slick-next {
    right: 111px; }
  .product-list .item {
    width: 265px; }
  .product-list .item .label-3 {
    width: 256px; }
  .product-list .item .pack-tape {
    margin-left: 17px; }
  .product-list .item .buttons input {
    margin-right: 44px; }
  .before-footer .subscribe input[type="text"] {
    width: 262px; }
  .visual-1,
  .visual-2 {
    padding-right: 0;
    width: auto;
    background: none;
    min-height: 22px; }
    .visual-1 br,
    .visual-2 br {
      display: none; }
  .content aside .accordion {
    display: block !important; } }

/* <1121 and > 991 finish */
/* <=991 */
@media only screen and (max-width: 991px) {
  #header {
    margin-bottom: 12px; }
  .wrapper {
    width: 738px; }
  .content .wrapper {
    padding: 0;
    width: 768px; }
  .ht-right .loginbox {
    padding-top: 14px;
    background: none; }
    .ht-right .loginbox li.user {
      text-indent: -9999px;
      padding: 0 6px 0 0;
      margin-top: -1px; }
      .ht-right .loginbox li.user a {
        width: 22px;
        padding-left: 0;
        display: block;
        height: 20px;
        background: url(../images/user-gold.png) no-repeat bottom;
        background-size: 100% 100%; }
    .ht-right .loginbox li.loginlink {
      padding-left: 3px; }
      .ht-right .loginbox li.loginlink a {
        text-indent: -9999px;
        background: url(../images/exit.png) no-repeat;
        width: 17px;
        height: 18px;
        display: block; }
    .ht-right .loginbox li.reglink {
      padding-left: 14px; }
      .ht-right .loginbox li.reglink a {
        text-indent: -9999px;
        background: url(../images/key.png) no-repeat;
        width: 18px;
        height: 18px;
        display: block; }
  .header-content .logo {
    float: none; }
  .header-content .search-menu {
    margin: 0 auto;
    float: none;
    width: 628px;
    padding-top: 4px; }
  .header-content .sandwich-mob {
    display: block; }
  .header-content-right {
    width: 222px;
    margin-top: -164px;
    margin-bottom: 0; }
    .header-content-right .cart {
      float: right; }
    .header-content-right .favorite-compare {
      padding-top: 10px; }
  main {
    float: none;
    width: 100%; }
  .products {
    padding: 10px 22px; }
  .scroll-four-products .slick-arrow.slick-next,
  .scroll-six-products .slick-arrow.slick-next {
    right: -22px; }
  .scroll-four-products .slick-arrow.slick-prev,
  .scroll-six-products .slick-arrow.slick-prev {
    left: -8px; }
  .visual-2 {
    padding-right: 478px; }
  .content aside {
    float: none;
    width: 100%;
    padding-bottom: 0; }
    .content aside .accordion,
    .content aside .reviews,
    .content aside .news-articles,
    .content aside .serv {
      display: none; }
    .content aside .accordion {
      margin-bottom: 0; }
  .before-footer .subscribe label {
    width: 188px;
    margin-top: -12px; }
  .before-footer .subscribe input[type="text"] {
    width: 216px; }
  .footer-cols .column.col-1 {
    width: 50%;
    padding-right: 16%; }
  .footer-cols .column.col-3 {
    width: 50%; }
  .footer-cols .column.col-2 {
    width: 50%;
    padding-bottom: 22px; }
  .footer-cols .column.col-4 {
    width: 50%; }
  #footer {
    padding-bottom: 2px; }
    #footer .cards {
      padding-bottom: 0;
      text-align: center; }
      #footer .cards li {
        padding: 0 4px 14px; }
  .before-footer .subscribe input[type="submit"] {
    padding-left: 0;
    background: #bcbcbc; }
  .cats-beauty {
    display: block;
    /*padding-left: 15px;
		padding-right: 15px;*/ }
  .modal.loginpopup {
    width: 740px;
    margin-left: -380px;
    position: absolute;
    top: 24px;
    margin-top: 0; }
    .modal.loginpopup .loginbody,
    .modal.loginpopup .modal-content {
      width: 100%; }
    .modal.loginpopup .lb-left {
      padding-left: 26px;
      padding-right: 22px; }
    .modal.loginpopup .lb-right {
      padding-left: 20px;
      padding-right: 22px; }
  .upscroll-mobile {
    display: block;
    left: 0;
    bottom: 0;
    position: fixed;
    opacity: .6;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
    .upscroll-mobile:hover {
      opacity: 1; }
  .modal.present-1,
  .modal.present-2 {
    width: 700px;
    margin-left: -360px;
    margin-top: -270px; }
    .modal.present-1 .modal-content,
    .modal.present-2 .modal-content {
      width: 100%;
      padding: 25px 0 26px;
      background-position: 46px 66px; }
    .modal.present-1 .present-2-content,
    .modal.present-2 .present-2-content {
      margin-left: 270px; }
  .modal.present-1 {
    margin-top: -284px; }
    .modal.present-1 .modal-content {
      background: #fff url(../images/present.jpg) no-repeat center 60px;
      background-size: 74%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 45px 24px 26px; }
  .modal.quickviewpopup {
    width: 748px;
    margin-left: -384px;
    margin-top: -312px; }
    .modal.quickviewpopup .slider-nav {
      display: none; }
    .modal.quickviewpopup .qv-detail {
      padding-bottom: 0; }
    .modal.quickviewpopup .qvd-info,
    .modal.quickviewpopup .qv-detail .qv-images {
      padding-bottom: 8px; }
    .modal.quickviewpopup .modal-content {
      padding: 28px 10px 28px 10px;
      min-height: 1px; }
      .modal.quickviewpopup .modal-content .qv-images {
        padding-right: 10px; }
      .modal.quickviewpopup .modal-content .qvd-info {
        width: 262px; }
  .drop-search {
    left: -106px;
    width: 768px; }
    .drop-search .drop-search-top {
      width: 768px;
      background-size: 100% 100%; }
    .drop-search .drop-search-bottom,
    .drop-search .drop-search-middle {
      background-size: 100% 100%; } }

/* <=991 finish */
/* <=991 and >=767 */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .search-menu {
    padding-left: 72px; }
  .cats-beauty ul li {
    float: left;
    width: 49%; }
    .cats-beauty ul li:nth-child(even) {
      float: right; } }

/* <=991 and >=767 finish */
/* <=767 */
@media only screen and (max-width: 767px) {
  .wrapper {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .content .wrapper {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px; }
  #header {
    margin-bottom: 0; }
  .ht-left {
    display: none; }
  .ht-right {
    float: none; }
    .ht-right .favorite-compare {
      display: block;
      float: left;
      padding-top: 8px; }
    .ht-right .contacts-link {
      display: none; }
    .ht-right .tel {
      float: left; }
  .mobile-right {
    float: right; }
  .header-content-right .favorite-compare {
    display: none; }
  .header-content .logo {
    margin: 0 auto; }
  .header-content .sandwich-mob {
    display: none; }
  .header-content-right,
  .search-menu {
    display: none; }
  .subheader {
    display: block; }
    .subheader .wrapper {
      position: relative; }
    .subheader .form {
      height: 31px;
      background: url(../images/search.png) no-repeat;
      margin: 0 10px 0 0;
      float: left;
      width: 355px;
      height: 31px;
      border: 1px solid #b2b2b2;
      background-color: #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      margin-top: 3px; }
      .subheader .form input[type=text] {
        float: left;
        width: 300px;
        margin: 0 0 0 12px;
        border: none;
        height: 19px;
        color: #000;
        font: 15px/19px MyriadPro, Arial, Geneva, Helvetica;
        padding: 6px 0 7px;
        background: none; }
      .subheader .form input[type=submit] {
        border: none;
        background: url(../images/zoom-mobile.png);
        width: 17px;
        height: 19px;
        padding: 0;
        margin: 6px 12px 0 0;
        float: right;
        cursor: pointer; }
    .subheader .cart {
      float: right;
      margin: 3px 8px 0 0;
      width: 34px;
      height: 27px;
      background: url(../images/cart-mob.png) no-repeat left bottom; }
      .subheader .cart a {
        display: block;
        height: 100%;
        color: #ececec;
        position: relative; }
        .subheader .cart a .qty {
          display: block;
          font: 12px/12px Arial;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 2px; }
    .subheader .sandwich-mob {
      height: 37px;
      width: 37px;
      /*background: #727272 url(../images/sandwich.png) no-repeat center;*/
      position: relative;
      background-color: #727272;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 12px 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      float: right; }
      .subheader .sandwich-mob div {
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .subheader .sandwich-mob .sw-topper {
        position: relative;
        top: 0;
        width: 16px;
        height: 2px;
        background: #fff;
        -webkit-transform-origin: top;
        transform-origin: top; }
      .subheader .sandwich-mob .sw-bottom {
        position: relative;
        width: 16px;
        height: 2px;
        top: 4px;
        background: #fff;
        -webkit-transform-origin: bottom;
        transform-origin: bottom; }
      .subheader .sandwich-mob .sw-footer {
        position: relative;
        width: 16px;
        height: 2px;
        top: 8px;
        background: #fff;
        -webkit-transform-origin: top;
        transform-origin: top; }
      .subheader .sandwich-mob.active .sw-topper {
        -moz-transform: rotate(45deg) translateX(5px) translateY(5px);
        -webkit-transform: rotate(45deg) translateX(5px) translateY(5px);
        -o-transform: rotate(45deg) translateX(5px) translateY(5px);
        -ms-transform: rotate(45deg) translateX(5px) translateY(5px);
        transform: rotate(45deg) translateX(5px) translateY(5px);
        top: -1px;
        width: 17px; }
      .subheader .sandwich-mob.active .sw-bottom {
        -moz-transform: rotate(-45deg) translateX(0px) translateY(1px);
        -webkit-transform: rotate(-45deg) translateX(0px) translateY(1px);
        -o-transform: rotate(-45deg) translateX(0px) translateY(1px);
        -ms-transform: rotate(-45deg) translateX(0px) translateY(1px);
        transform: rotate(-45deg) translateX(0px) translateY(1px);
        top: 3px;
        width: 17px; }
      .subheader .sandwich-mob.active .sw-footer {
        opacity: 0;
        -moz-transform: translateY(-9px);
        -webkit-transform: translateY(-9px);
        -o-transform: translateY(-9px);
        -ms-transform: translateY(-9px);
        transform: translateY(-9px); }
  .header-content .search-menu {
    width: 100%; }
    .header-content .search-menu nav {
      display: none; }
    .header-content .search-menu .form {
      width: 253px;
      height: 29px;
      border: 1px solid #b2b2b2;
      border-radius: 5px;
      background-color: #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .header-content .search-menu .form input[type=text] {
        width: 200px;
        height: 29px;
        border: none;
        background: red;
        width: 100%;
        height: 100%;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 4px;
        padding-bottom: 4px;
        font: 15px/19px MyriadPro, Arial, Geneva, Helvetica; }
  .content .wrapper aside .accordion {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #c9c9c9;
    z-index: 9; }
    .content .wrapper aside .accordion li {
      list-style: none;
      border-top: 2px solid #c9c9c9;
      position: relative;
      padding-bottom: 0; }
      .content .wrapper aside .accordion li a {
        display: block;
        font: 17px/47px MyriadPro, Arial, Geneva, Helvetica;
        color: #fff;
        padding: 0 0 0 21px;
        transition: .3s;
        background: #535353; }
        .content .wrapper aside .accordion li a:hover {
          text-decoration: none;
          background: #5f5f5f; }
        .content .wrapper aside .accordion li a:after {
          position: absolute;
          display: block;
          width: 15px;
          height: 8px;
          background: url(../images/arrows-menu.png) no-repeat top;
          top: 20px;
          right: 12px;
          content: ""; }
      .content .wrapper aside .accordion li.active a:after {
        background-position: 0 -8px; }
      .content .wrapper aside .accordion li ul {
        padding: 0; }
        .content .wrapper aside .accordion li ul li a {
          background: #727272 !important;
          padding-left: 51px;
          color: #fff; }
          .content .wrapper aside .accordion li ul li a:after {
            display: none; }
          .content .wrapper aside .accordion li ul li a:hover {
            background-color: #606060 !important; }
  .products {
    display: none; }
  .manufacturers-wrapper {
    background-color: #646464; }
    .manufacturers-wrapper .manufacturers-carousel {
      width: 325px;
      margin: 0 auto; }
      .manufacturers-wrapper .manufacturers-carousel .region {
        padding-bottom: 14px; }
        .manufacturers-wrapper .manufacturers-carousel .region img {
          display: inline; }
      .manufacturers-wrapper .manufacturers-carousel ul {
        margin: 0;
        padding: 0 0 2px; }
        .manufacturers-wrapper .manufacturers-carousel ul li {
          background-color: #fff;
          margin: 0;
          border: none; }
          .manufacturers-wrapper .manufacturers-carousel ul li a {
            padding-bottom: 22px; }
          .manufacturers-wrapper .manufacturers-carousel ul li img {
            display: inline-block; }
          .manufacturers-wrapper .manufacturers-carousel ul li .link {
            width: 232px;
            height: 36px;
            display: block;
            margin: 0 auto;
            border: 1px solid #b9b9b9 !important;
            background-color: #f0f0f0;
            font: 15px/34px MyriadPro, Arial, Geneva, Helvetica;
            text-decoration: underline;
            transition: .3s;
            color: #000; }
          .manufacturers-wrapper .manufacturers-carousel ul li a:hover .link {
            background-color: #ddd; }
    .manufacturers-wrapper h2 {
      font: 22px/52px MyriadPro, Arial, Geneva, Helvetica;
      color: #fff;
      border: none;
      margin: 0;
      padding: 0 0 0 62px; }
    .manufacturers-wrapper .slick-arrow {
      width: 23px;
      height: 19px;
      border: none;
      position: absolute;
      top: -34px;
      padding: 0;
      text-indent: -9999px;
      cursor: pointer;
      z-index: 3; }
      .manufacturers-wrapper .slick-arrow.slick-prev {
        background: url(../images/arrows-manufacturer.png) no-repeat 0 0;
        right: 40px; }
      .manufacturers-wrapper .slick-arrow.slick-next {
        background: url(../images/arrows-manufacturer.png) no-repeat 0 -19px;
        right: 0; }
  .white-content article {
    padding: 0 16px; }
  .line-images {
    display: block; }
    .line-images li {
      display: block;
      text-align: center; }
  .visual-1 {
    background: none; }
  .visual-2 {
    padding-right: 0;
    background: none;
    width: auto; }
  .main-slider-box {
    display: none; }
  #footer .rem {
    display: none; }
  .footer-cols,
  .white-content.introtext {
    display: none; }
  .up-scroll-2,
  .site-menu {
    display: block; }
  .before-footer .subscribe {
    padding-top: 0;
    padding-bottom: 6px; }
  .before-footer .subscribe label {
    float: none;
    width: 100%;
    font: 16px/28px MyriadPro, Arial, Geneva, Helvetica; }
  .btn-unsubscribe {
    display: none; }
  .before-footer .subscribe input[type="submit"] {
    background: #bcbcbc url(../images/sbs.png) no-repeat 9px center;
    padding-left: 20px; }
  .before-footer .subscribe input[type="text"] {
    width: 280px; }
  .reviews-mobile,
  .questions {
    display: block; }
  .modal.loginpopup {
    width: 460px;
    margin-left: -240px; }
    .modal.loginpopup h3 {
      line-height: 42px;
      padding-top: 0;
      margin-bottom: 22px; }
    .modal.loginpopup .social-enter {
      display: none; }
    .modal.loginpopup .lb-left {
      float: none;
      width: 290px;
      padding: 6px 0 12px;
      margin: 0 auto 12px;
      border: none; }
    .modal.loginpopup input[type="text"],
    .modal.loginpopup input[type="password"] {
      width: 264px; }
    .modal.loginpopup .loginbody input[type="submit"] {
      width: 287px; }
    .modal.loginpopup .lb-right {
      float: none;
      width: 290px;
      margin: 0 auto;
      padding: 6px 0 12px; }
  .cats-beauty {
    padding-left: 0;
    padding-right: 0; }
  .modal.present-2 {
    width: 450px;
    margin-left: -225px; }
    .modal.present-2 .modal-content {
      background: #fff; }
      .modal.present-2 .modal-content .present-2-content {
        margin-left: 22px; }
  .product-list .item .quick-view {
    display: none; }
  .product-list .item .pack-tape {
    top: 277px; }
  .product-list .item a.title {
    padding-bottom: 22px; }
  aside .filters {
    margin-top: 22px; }
    aside .filters h3 {
      display: none; } }

/* <=767 finish */
/* <=599 */
@media only screen and (max-width: 599px) {
  #header {
    background: #fff url(../images/header-bg-39.png) repeat-x top; }
  .header-top {
    height: 39px;
    padding-bottom: 0; }
    .header-top .tel {
      padding: 0;
      line-height: 35px; }
      .header-top .tel a {
        background: url(../images/phone-24.png) no-repeat left center;
        padding-left: 37px;
        font: 20px/35px MyriadPro, Arial, Geneva, Helvetica; }
  .ht-right .favorite-compare {
    padding-top: 5px; }
  .ht-right .loginbox {
    height: auto;
    padding-top: 11px; }
    .ht-right .loginbox li.user {
      margin-top: -2px; } }

/* <=599 finish */
/* <=479 */
@media only screen and (max-width: 479px) {
  .content .wrapper,
  .wrapper {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px; }
  .header-top .tel {
    padding-right: 0; }
    .header-top .tel a {
      background: none;
      padding-left: 0; }
  .subheader .form {
    width: 195px; }
    .subheader .form input[type=text] {
      width: 144px; }
  .header-content .logo {
    margin: 0 auto;
    width: 280px;
    height: 72px;
    background-color: #fff; }
  .header-content .logo a {
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 280px;
    height: 69px;
    margin: 0 auto;
    text-indent: -9999px;
    background-size: 100% 100%; }
  .cats-beauty {
    width: 300px;
    margin: 0; }
    .cats-beauty ul li a h3 {
      font: 17px/19px MyriadProS;
      width: 163px; }
    .cats-beauty .discount {
      left: 26%; }
  .manufacturers-wrapper {
    width: 300px; }
    .manufacturers-wrapper h2 {
      padding-left: 10px; }
    .manufacturers-wrapper .manufacturers-carousel {
      width: 270px; }
  .white-content.introtext {
    width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .content .wrapper aside .accordion li a {
    font-size: 15px;
    padding-left: 16px; }
  .before-footer .subscribe input[type="submit"] {
    padding-left: 0;
    width: 30px;
    text-indent: 38px;
    /*background-position: 32px center;*/ }
  .before-footer .subscribe input[type="text"] {
    width: 234px; }
  .modal.loginpopup {
    width: 300px;
    margin-left: -160px; }
    .modal.loginpopup h3 {
      padding-left: 8px;
      font-size: 22px;
      margin-bottom: 12px; } }

/* <=479 finish */
/* height <768 start */
@media only screen and (max-height: 767px) {
  .modal.quickviewpopup {
    width: 748px;
    margin-left: -384px;
    margin-top: -312px; }
    .modal.quickviewpopup .slider-nav {
      display: none; }
    .modal.quickviewpopup .qv-detail {
      padding-bottom: 0; }
    .modal.quickviewpopup .qvd-info,
    .modal.quickviewpopup .qv-detail .qv-images {
      padding-bottom: 8px; }
    .modal.quickviewpopup .modal-content {
      padding: 28px 10px 28px 10px;
      min-height: 1px; }
      .modal.quickviewpopup .modal-content .qv-images {
        padding-right: 10px; }
      .modal.quickviewpopup .modal-content .qvd-info {
        width: 262px; } }

/* height <768 finish */

/*# sourceMappingURL=media.css.map */